.header-target {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.header-target img {
    margin-top: 80px;
    width: 100%;
    object-fit: cover;
     height: min(70vh, 440px);
    object-position: center;
    display: block;
}
.header-target-h {
    position: absolute;
    top: 30px;                    /* yukarıdan mesafe */
    left: 50%;
    transform: translateX(-50%);  /* yatay ortalama */
    text-align: center;
    color: #fff;
}

/* Büyük başlık */
.header-target-h h1 {
    font-family: "Pacifico", cursive; /* Google Font stili (romantik, el yazısı) */
    font-size: 60px;
    margin: 0;
    color: #fff;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6); /* gölge efekti */
}

/* Alt başlık */
.header-target-h h3 {
    font-family: "Pacifico", cursive;
    font-size: 30px;
    margin-top: 10px;
    color: #000;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.homepage{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0px 10px;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0 10px; 
}
.wrapper .sidebar{
    width: 20vw;
    height: 20vh;
}
.wrapper .sidebar .area-target{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    
}


.posts{
    flex: 9;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.post-target{
    width: calc(50% - 20px); /* 50% → öğenin genişliği, ebeveyn (parent) elemanın yarısı kadar olacak. */
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}
.post-target h1{
    font-family: "Pacifico", cursive;
}
.post-target img{
    border-radius: 10px;
    margin-bottom: 5px;
    height: 300px;
    object-fit: cover;
}


.post-target p{
    padding: 5px;
    font-family: "Arvo", "serif";
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 23px;
}

/* .post-target .authorAndDate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
} */


.post-target .authorAndDate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.post-target .authorAndDate span:nth-child(1){  /* span:nth-child(1): Bu kapsayıcının ilk çocuk öğesi ve aynı zamanda bir span ise onu seçer. */
    font-family:  "Dancing Script", cursive;
    font-weight: 700;
}

.post-target .authorAndDate span:nth-child(2){
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
}

/* Scroll animation */
.posts .post-target {
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.5s;
}

.posts .post-target:nth-child(2n) {
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.8s;
}

.posts .post-target.active {
    transform: translateX(0px);
    opacity: 1;
}